.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #CCCCCC;
  background: #CCCCCC;
}
.footer > ul > li > a {
  display: block;
  width: 33.33333333%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: black;
  float: left;
}
.footer > ul > li > a.active {
  color: red;
}
.navimg {
  height: 50px;
  width: 100%;
}
.navimg > img {
  width: 30px;
  height: 30px;
}
.navtext {
  height: 30px;
  line-height: 30px;
}
