@media screen and (min-width: 992px) {
	.box{
		padding:0;	
	}
	.nav-left{
		height:60px;
	}
	.nav-right{
		height:40px;
		margin:10px 0;
	}
	.navtw{
		display: none;
	}
	.userinfos{
		display: none;
	}
	.footer-box{
		height:500px;
		margin:0 auto;
	}
	.foot-bd{
		display: none;
	}
	.imgto{
		width:1263px;
		height:697px;
		padding:38px 31px 0 31px;
		background:#feeaf3;
	}
	.imgsa{
		position:relative;
	}
	.imgsc{
		width:266px;
		height:272px;
		position:absolute;
		left:24px;
		top:40px;
	}
	.deaImg{
		width:147px;
		height:532px;
	}
	.detaBdeta{
		padding:50px 25%;
	}
	.detaBdeta>p{
		font-size:30px;
		font-weight:400;
	}
	.daate{
		height:50px;
	}
	.c-offPro{
		margin-left:33%;
	}
	.deaTexa{
		font-size:18px;
	}
	.deaTexb{
		padding-top: 5px;
		font-size: 14px;
		padding-bottom: 28px;
	}
	.dataAtt>a{
		width:48%;
		height:32px;
	}
	.detaMat{
		padding:70px 15px 15px 15px;
	}
	.apply>img{
		margin-top:215px
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.nav{
		display: none;
	}

	.footer-box{
		height:850px;
		margin:0 auto;
	}
	.foot-bd{
		display: none;
	}
	.imgto{
		height:auto;
	}
	.imgsb{
		position:relative;
	}
	.imgsc{
		width:25%;
		height:28%;
		position:absolute;
		top:3px;
		left:10px;
	}
	.deaImg{
		display:none;
	}
	.detaBdeta{
		padding:30px 15px;
	}
	.detaBdeta>p{
		font-size:30px;
		font-weight:400;
	}
	.daate{
		height:40px;
	}
	.deaTexa{
		font-size:15px;
	}
	.deaTexb{
		font-size: 12px;
		padding: 10px 0;
	}
	.dataAtt>a{
		width:48%;
		height:32px;
	}
	.apply>img{
		margin-top:475px
	}
}

@media screen and (max-width: 767px) {
	.nav{
		display: none;
	}
	.userinfos{
		display: none;
	}
	.foot-body{
		display: none;
	}
	.foot-bot{
		display: none;
	}
	.imgto{
		height:auto;
	}
	.imgsb{
		position:relative;
	}
	.imgsc{
		width:25%;
		height:28%;
		position:absolute;
		top:3px;
		left:10px;
	}
	.deaImg{
		display:none;
	}
	.detaBdeta{
		padding:30px 15px;
	}
	.detaBdeta>p{
		font-size:18px;
	}
	.daate{
		height:40px;
	}
	.deaTexa{
		font-size:15px;
	}
	.deaTexb{
		padding-top: 5px;
		font-size: 12px;
		padding-bottom: 28px;
	}
	.dataAtt>a{
		width:48%;
		height:32px;
	}
	.apply>img{
		margin-top:1037px
	}
}