<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="./stylesheets/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="./stylesheets/index.css">
	<link rel="stylesheet" href="./stylesheets/media.css">
	<link rel="stylesheet" href="./stylesheets/skincare.css">
	<link rel="stylesheet" href="/stylesheets/brandstory.css">
</head>
<body>
	<div class="box w-100 h-100">
		<!-- 头部 -->
		<header class="col-12 header">
			<nav class="col-10 px-0 nav">
				<div class="col-10 float-left px-0 nav-left ">
					<img src="images/logo.png" alt="" class="float-left col-3 px-0 logoimg">
					<div class="float-right col-9 px-0 mx-0 nav-box">
					<ul class="float-left col-10 px-0 mx-0 nav-bar">
						<li class="col-1 px-0"><a href="/">首页</a></li>
						<li class="col-2 px-0">品牌故事
							<div class="navhov navppgs">
								<div class="navhleft">
									<span>欧珀莱世界</span>
									<img src="images/1.jpg" alt="" class="pinpimg">
								</div>
								<div class="navhright ">
									<a href="/skincare">欧珀莱的世界</a>
									<a href="">素颜BLOG</a>
									<a href="">顾客心声改善</a>
									<a href="">品牌视频</a>
									<a href="">新动向</a>
									<a href="">社会公益</a>
									<a href="">绿色环保行动</a>
									<a href="">品牌历史</a>
									<a href="">绿色排污环保信息</a>
								</div>
								<div class="jiantou jiantppai"></div>
							</div>
						</li>
						<li class="col-2 px-0">定制咨询
							<div class="navhov navdzzx">
								<div class="navhleft">
									<span>预约到店肌肤测试</span>
									<img src="images/2.jpg" alt="" class="pinpimg">
								</div>
								<div class="navhright ">
									<a href="/custom">预约到店肌肤测试</a>
									<a href="/custom">在线肌肤测试</a>
									<a href="/custom">店铺查询</a>
								</div>
								<div class="jiantou jiantdz"></div>
							</div>
						</li>
						<li class="col-1 px-0">护肤
							<div class="nav-hufu">
								<div class="nav-hf-left">
									<span class="chanphz">产品汇总</span>
									<img src="images/3.jpg" alt="" class="hufu-img-logi"></a>
								</div>
								<div class="nav-hf-right">
									<div class="nav-hfrit-top">
										<div class="col-4 px-0">
											<span>产品系列</span>
											<a href="/skincare" class="cpxl-chanphz">产品汇总</a>
											<a href="" class="cpxl-jidixh">肌底循环精华(“黑精灵精华”)
												<img src="images/7.jpg" alt="" class="hufu-img" class="d-none">
											</a>
											<a href="" class="cpxl-zheny">臻源循环育肤群
												<img src="images/8.jpg" alt="" class="hufu-img" class="d-none">
											</a>
											<a href="" class="cpxl-tanli">弹力循环育肤群
												<img src="images/9.jpg" alt="" class="hufu-img" class="d-none">
											</a>
											<a href="" class="cpxl-jiem">洁面群
												<img src="images/10.jpg" alt="" class="hufu-img" class="d-none">
											</a>
											<a href="" class="cpxl-body">身体护理系列
												<img src="images/11.jpg" alt="" class="hufu-img" class="d-none">
											</a>
											<a href="" class="cpxl-time">时光锁胶原系列
												<img src="images/12.jpg" alt="" class="hufu-img" class="d-none">
											</a>
											<a href="" class="cpxl-juns">俊士系列
												<img src="images/13.jpg" alt="" class="hufu-img" class="d-none">
											</a>
										</div>
										<div class="col-2 px-0">
											<span>产品种类</span>
											<a href="">洁面产品</a>
											<a href="">化妆水</a>
											<a href="">肌底循环精华</a>
											<a href="">乳液</a>
											<a href="">面膜</a>
											<a href="">精华</a>
											<a href="">按摩</a>
											<a href="">面霜</a>
											<a href="">眼霜</a>
											<a href="">防晒</a>
											<a href="">隔离</a>
											<a href="">育肤棉</a>
										</div>
										<div class="col-2 px-0">
											<span>肌肤烦恼</span>
											<a href="">干燥·粗糙</a>
											<a href="">小皱纹</a>
											<a href="">皱纹</a>
											<a href="">松弛·无弹性</a>
											<a href="">晦暗·暗黄</a>
											<a href="">色斑</a>
											<a href="">黑眼圈</a>
											<a href="">毛孔粗大·粉刺</a>
										</div>
										<div class="col-3 px-0">
											<span>肌肤小帮手</span>
											<a href="">在线肌肤测试</a>
											<a href="">预约到店肌肤测试</a>
										</div>
									</div>
									<div class="nav-hfrit-bot">
										<div>
											<img src="images/4.jpg" alt=""class="col-8 px-0 img">
											<div class="col-5 px-0 desc-box">
												<p>明星产品</p>
												<a href="">点击查看 ></a>
											</div>
										</div>
										<div>
											<img src="images/5.jpg" alt=""class="col-8 px-0 img">
											<div class="col-5 px-0 desc-box">
												<p>免费申请</p>
												<a href="">点击查看 ></a>
											</div>
										</div>
										<div>
											<img src="images/6.jpg" alt=""class="col-8 px-0 img">
											<div class="col-5 px-0 desc-box">
												<p>精彩促销</p>
												<a href="">点击查看 ></a>
										</div>
									</div>
								</div>
								<div class="jiantou jiant-hufu"></div>
							</div>
						</li>
						<li class="col-1 px-0">彩妆
							<div class="nav-caizh">
								<div class="nav-cz-left">
									<span class="chanphz">按系列</span>
									<img src="images/14.jpg" alt="" class="caiz-imgtp"></a>
									<img src="images/15.jpg" alt="" class="caiz-imgbt"></a>
								</div>
								<div class="nav-cz-right">
									<div class="nav-czrit-top">
										<div>
											<span>粉底</span>
											<a href="/cosmetics">粉底液</a>
											<a href="">气垫BB</a>
											<a href="">散粉</a>
											<a href="">遮瑕棒</a>
										</div>
										<div>
											<span>重点彩妆</span>
											<a href="">唇部</a>
											<a href="">眼部</a>
											<a href="">面部</a>
											<a href="">眉部</a>
										</div>
										<div>
											<span>卸妆</span>
											<a href="">卸妆液</a>
											<a href="">卸妆啫哩</a>
											<a href="">卸妆油</a>
											<a href="">卸妆巾</a>
										</div>
										<div>
											<span>美妆工具</span>
											<a href="">睫毛夹</a>
										</div>
										<div>
											<span>肌肤小帮手</span>
											<a href="">在线肌肤测试</a>
											<a href="">预约到店肌肤测试</a>
										</div>
									</div>
										<div class="nav-hfrit-bot">
											<div>
												<img src="images/16.jpg" alt=""class="col-8 px-0 img">
												<div class="col-5 px-0 desc-box">
													<p>明星产品</p>
													<a href="">点击查看 ></a>
												</div>
											</div>
											<div>
												<img src="images/17.jpg" alt=""class="col-8 px-0 img">
												<div class="col-5 px-0 desc-box">
													<p>免费申请</p>
													<a href="">点击查看 ></a>
												</div>
											</div>
											<div>
												<img src="images/18.jpg" alt=""class="col-8 px-0 img">
												<div class="col-5 px-0 desc-box">
													<p>精彩促销</p>
													<a href="">点击查看 ></a>
											</div>
										</div>
									</div>
									<div class="nav-hfrit-bot">
										<div>
											<img src="images/4.jpg" alt=""class="col-8 px-0 img">
											<div class="col-5 px-0 desc-box">
												<p>明星产品</p>
												<a href="">点击查看 ></a>
											</div>
										</div>
										<div>
											<img src="images/5.jpg" alt=""class="col-8 px-0 img">
											<div class="col-5 px-0 desc-box">
												<p>免费申请</p>
												<a href="">点击查看 ></a>
											</div>
										</div>
										<div>
											<img src="images/6.jpg" alt=""class="col-8 px-0 img">
											<div class="col-5 px-0 desc-box">
												<p>精彩促销</p>
												<a href="">点击查看 ></a>
										</div>
									</div>
								</div>
								<div class="jiantou jiant-caiz"></div>
							</div>
						</li>
						<li class="col-2 px-0">精彩促销
							<div class="navhov nav-jccx">
								<div class="navhleft">
									<span>天猫旗舰店专享活动</span>
									<img src="images/19.jpg" alt="" class="pinpimg">
								</div>
								<div class="navhright ">
									<a href="/promotion">天猫旗舰店专享活动</a>
								</div>
								<div class="jiantou jiant-jccx"></div>
							</div>
						</li>
						<li class="col-3 px-0 symjz">素颜美家族
							<div class="navhov nav-symjz">
								<div class="navhleft">
									<span>素颜美家族</span>
									<img src="images/20.jpg" alt="" class="pinpimg">
								</div>
								<div class="navhright ">
									<a href="/suyan">素颜美家族</a>
									<a href="">积分商城</a>
									<a href="">会员活动</a>
									<a href="">互动有礼</a>
									<a href="">虚拟素颜值</a>
								</div>
								<div class="jiantou jiant-symjz"></div>
							</div>
						</li>
					</ul>
					<div class="float-right col-2 px-0 mx-0 nav-barit">
						<div>20℃</div>
						<div>|</div>
						<div>重庆</div>
						<div class="start">
							<p>生活压力再大，也难不倒追求肌肤美的你。快来体验欧珀莱肌肤测试吧，养出一个素颜美肌。</p>
							<span>立即行动 ></span>
							<div class="jiantou jiant-start"></div>
						</div>
						
					</div>
					<div class="navfinds">
						<div class="search">
							<img src="images/find.png" alt="">
							<input type="text" method="get" placeholder="搜索aupres.com.cn">
							<div class="close">×</div>
						</div>
						<div class="keyWord">
							<span>快速链接</span>
							<a href="" class="mx">肌底循环精华</a>
							<a href="" class="mx">预约到店肌肤测试</a>
							<a href="" class="mx">素颜BLOG</a>
							<a href="" class="mx">积分商城</a>
						</div>
					</div>
				</div>
				</div>
				<div class="col-2 float-right px-0 nav-right">
					<div class="px-0 col-2">
						<img src="images/find.png" alt="" class="findimg ">
					</div>
					<div>
						<a href="/login" class="triggerdl px-0">登录</a>
					</div>
					<div>
						<a href="/register" class="triggerzc px-0">注册</a>
					</div>
		
			</div>
			</nav>
			<div class="col-1 px-0 navtw">
				<div class="navtw-more">
					<div></div>
					<div></div>
				</div>
				<div class="col-12 px-0 navtw-close">×</div>
			</div>
			<div class="col-10 px-0 px-0 navtw ">
				<img src="images/logo.png" alt=""class="logoimg">
			</div>
			<div class="col-1 px-0 navtw userimg">
				<div class="imgbox">
					<div class="find-close">×</div>
					<img src="images/find.png" alt="" class="user-find">
					<div class="resert-close">×</div>
					<img src="images/user.png" alt="" class="user-resert">
					
				</div>
			</div>
		</header>
		<!-- 更多 -->
		<div class="col-12 daohl-more ">
			<p class="mb-0 bg-white">晴空万里,肌肤也想享受骄阳,防晒功课必不可少。快给美肌全方面保护,肌肤自由沐浴阳光。立刻到欧珀莱专柜体验肌肤测试,给肌肤最贴心的呵护。</p>
			<a href="" class="startin bg-white d-block">立即行动 ></a>
			<ul class="dropDow">
				<li class="dropDow-lisa"><a href="/index">首页</a></li>
				<li><a href="/brandstory">品牌故事</a><span>></span></li>
				<li><a href="/custom">定制资讯</a><span>></span></li>
				<li><a href="/skincare">护肤</a><span>></span></li>
				<li><a href="/cosmetics">彩妆</a><span>></span></li>
				<li><a href="/promotion">精彩促销</a><span>></span></li>
				<li><a href="/suyan">素颜美家族</a><span>></span></li>
				<li><a href="">个人中心</a><span>></span></li>
			</ul>
		</div>
		<!-- 用户搜索 -->
		<div class="col-12 us-search">
			<input type="text" method="get" class="col-11 float-left" placeholder="搜索aupres.com.cn">
			<div class="col-1 float-right">搜索</div>
		</div>
		<!-- 登录注册 -->
		<div class="col-12 userinfos">
			<div class="col-12"><a href="">登录</a></div>
			<div class="col-12"><a href="">注册</a></div>
		</div>
	</div>
	<!-- 主体 -->
	<div class="global-content w-100 h-100">
		<div class="gl1">
			<div class="gl1-t">欧珀莱的世界</div>
			<div class="gl1-li row ">
				<li class="col-3 "><a href="" class="text-decoration-none ">我们的理念</a></li>
				<li class="col-3 "><a href="" class="text-decoration-none ">我们的行动</a></li>
				<li class="col-3 "><a href="" class="text-decoration-none ">安心安全</a></li>
				<li class="col-3 "><a href="" class="text-decoration-none ">知识产权与专利</a></li>
			</div>
		</div>
	</div>
	
	<div class="global-content w-100 h-100">
		<div class="gl2">
			<h3 class="gl2-t">我们的理念</h3>
			<div class="gl2-li row ">
				<li class="col-12 "><span>时光，其实不是肌肤的敌人。时光，是能够成为朋友的。</span></li>
				<li class="col-12 "><span>这正是欧珀莱所始终坚信，持续追求的。</span></li>
				<li class="col-12 "><span>利用先端的护肤科技成果及欧珀莱独一无二的肌肤数据，</span></li>
				<li class="col-12 "><span>通过不断的修复、更新，改善肌底，</span></li>
				<li class="col-12 "><span>从而实现【时光雕琢出的素颜之美】</span></li>
				<li class="col-12 "><span>欧珀莱，秉持高品质、高技术、高服务的理念，</span></li>
				<li class="col-12 "><span>解决你的肌肤烦恼，</span></li>
				<li class="col-12 "><span>始终守护在所有中国女性的身边。</span></li>
			</div>
		</div>
	</div>
	<div class="global-content w-100 h-100">
		<div class="gl3">
			<h3 class="gl3-t">我们的行动</h3>
			<div class="gl3-1 row ">
				<img src="images/a.jpg" alt="" class="col-6">
				<li class="col-6 ">
					<div class="rightbox">
						<div class="right1"><strong>凭借资生堂先端科技致力中国女性肌肤研究</strong></div>
					    <div class="right2">过去20年来，欧珀莱始终以中国女性肌肤需求为出发点，致力于研究中国女性的肌肤状态和她们的生存环境。利用资生堂先端科技和高水准研究成果，研究出适合中国女性的产品配方和研发成果。</div>
					</div>
				</li>
				
			</div>
			<div class="gl3-1 row ">
				
				<li class="col-6 ">
					<div class="rightbox">
						<div class="right1"><strong>定制素颜之美</strong></div>
					    <div class="right2">通过欧珀莱专业美容顾问对消费者生活方式的问询，以及使用欧珀莱四季肌肤综合测试仪对消费者肌肤状态的测试，欧珀莱积累了近120万条消费者肌肤测试数据，找寻不同年龄，不同地域，不同生活方式的女性肌肤存在的问题和需求，帮助她们更加了解自己的肌肤，找到最适合自己的“素颜美”。</div>
					</div>
				</li>
				<img src="images/b.jpg" alt="" class="col-6">
			</div>
			<div class="gl3-1 row ">
				<img src="images/c.jpg" alt="" class="col-6">
				<li class="col-6 ">
					<div class="rightbox">
						<div class="right1"><strong>时光雕琢素颜美</strong></div>
					    <div class="right2">欧珀莱作为中国女性美的伙伴，在全国34个城市设立逾1000家专柜，18家直营店，并拥有3000余名具备专业美妆知识及丰富的实操经验的美容顾问及彩妆咨询师。可提供针对个人的肌肤咨询及护肤实操等专业服务，提供给每一位顾客专属体验感。</div>
					</div>
				</li>
			</div>
		</div>
	</div>
		<div class="global-content w-100 h-100">
			<div class="gl2">
				<h3 class="gl2-t">我们的理念</h3>
				<div class="gl2-li row ">
					<li class="col-12 "><span>欧珀莱品牌，始终如一以高品质、高形象、高服务为品牌理念，</span></li>
					<li class="col-12 "><span>为您提供高质量、高放心度的安全产品。</span></li>
					<li class="col-12 "><span>欧珀莱全程生产、管理、销售人员共同发出心动品质宣言，</span></li>
					<li class="col-12 "><span>我们秉承品质高于一切的理念，让您在每时每刻都能安心使用欧珀莱产品。</span></li>
					<li class="col-12 "><span>您知道欧珀莱是如何保证产品品质的吗？</span></li>
					<li class="col-12 "><span>欧珀莱为您竭尽所想，让您在每个时刻都能安心使用。</span></li>
					<div class="imgs row">
					    <img src="images/d.jpg" alt="" class="col-6">
					    <img src="images/e.jpg" alt="" class="col-6">
					</div>
				</div>
			</div>
		</div>
		<div class="global-content w-100 h-100">
			<div class="gl3">
				<h3 class="gl3-t">知识产权与专利</h3>
				<div class="gl3c">资生堂集团在中国具有近700项授权专利技术，其中发明专利300余项，外观设计专利200余项。其中，资生堂独家发现“真皮空洞”现象，获得IFSCC*最佳论文奖。在欧珀莱产品中应用最为广泛的，是资生堂独有的保湿成分PEG/PPG-17/4（环氧化衍生物的一种）*专利号ZL02123272.5，其良好的保湿效果、粗糙改善效果和发粘改善效果，能够促进其它保湿成分的吸收，提高清凉剂效果的持续性。</div>
			</div>
			<div class="gl3-text row">
			<img src="images/f.jpg" alt="" class="col-5">
				<li class="col-7 ">
					<div class="rightbox">
						<div class="right1"><strong>代表产品</strong></div>
					    <div class="right2">欧珀莱恒久肌底循环精华露加强型，运用欧珀莱最先端的双重修护技术，修护肌肤老化产生的“真皮空洞”传达保湿、增加弹力，持续使用效果更佳。

*IFSCC：国际化妆品技术者会联盟（The International Federation of Societies of Cosmetic Chemists　简称IFSCC） 了解更多>></div>
					</div>
				</li>
			</div>
		</div>
		<footer class="col-12">
			<div class="col-10 px-0 footer-box">
				<div class="col-12 foot-top">
					<a class="col-1"><img src="images/home.png" alt=""></a>
					<a class="col-1">></a>
					<a class="col-1">品牌故事</a>
					<a class="col-1">></a>
					<a class="col-1">欧珀莱的世界</a>
					
				</div>
				<ul class="col-lg-6 col-md-12 float-left px-0 foot-body">
					<li>品牌故事
						<a href="" class="mt-2">欧珀莱的世界</a>
						<a href="">素颜BLOG</a>
						<a href="">顾客心声改善</a>
						<a href="">品牌视频</a>
						<a href="">新动向</a>
						<a href="">社会公益</a>
						<a href="">绿色环保行动</a>
						<a href="">品牌历史</a>
						<a href="">工厂参观</a>
						<a href="">绿色排污环保信息</a>
					</li>
					<li>定制咨询
						<a href="" class="mt-2 float-left">预约到店肌肤测试</a>
						<a href="">在线肌肤测试</a>
						<a href="">店铺查询</a>
					</li>
					<li>护肤
						<a href="">产品汇总</a>
						<a href="">产品种类</a>
						<a href="">肌肤烦恼</a>
						<a href="">明星产品</a>
						<a href="">免费申领</a>
					</li>
					<li>彩妆
						<a href="">粉底</a>
						<a href="">重点彩妆</a>
						<a href="">卸妆</a>
						<a href="">美妆工具</a>
						<a href="">肌肤小帮手</a>
					</li>
				</ul>
				<ul class="col-lg-6 col-md-12 float-right px-0 foot-body">
					<li>精彩促销
						<a href="">天猫旗舰店专享活动</a>
					</li>
					<li>素颜美家族
						<a href="">素颜美家族首页</a>
						<a href="">积分商城</a>
						<a href="">会员活动</a>
						<a href="">互动有礼</a>
						<a href="">虚拟素颜值</a>
					</li>
					<li>个人中心
						<a href="">个人中心</a>
						<a href="">个人信息</a>
						<a href="">站内信</a>
						<a href="">积分履历</a>
						<a href="">代金券</a>
						<a href="">免费申领</a>
						<a href="">预约到店</a>
						<a href="">我的客服</a>
						<a href="">素颜管家</a>
					</li>
					<li>其他
						<a href="">正品声明</a>
						<a href="">网站地图</a>
						<a href="">法律声明</a>
						<a href="">服务条款</a>
						<a href="">隐私政策</a>
						<a href="">联系我们</a>
					</li>
				</ul>
				<div class="foot-bot">
					<span>© 资生堂丽源化妆品有限公司版权所有  京ICP备11014491号  京公网安备110301000520</span>
					<div class="ft-img">
						<div>
							<img src="images/ico-wb.png" alt="">
						</div>
						<div class="weixin">
							<img src="images/ico-wx.png" alt="">
							<div class="weibo-erwm"><img src="images/erwm.jpeg" alt=""></div>
						</div>
						<div class="weiBos">
							<img src="images/ico-fx.png" alt="">
							<div class="weibo-box">
								<div class="ico-wb-left">
									<p class="text my-0">点击分享到微博</p>
									<img src="images/bigweibo.png" alt="">
								</div>
								<div class="erwm-right">
									<p class="text my-0">微信扫一扫分享</p>
									<img src="images/erwm.jpeg" alt="">
								</div>
								
							</div>
						</div>
						
					</div>
					<span>品牌热线： 800-810-2559（固定电话） 400-678-2559（手机用户）    服务时间为： 周一至周五9:00-16:30，国家法定节假日除外</span>
				</div>
				<!-- 手机端尾部 -->
				<div class="col-12 foot-bd">
					<ul class="dropDow">
						<li><a href="">品牌故事</a><span>></span></li>
						<li><a href="">定制资讯</a><span>></span></li>
						<li><a href="">护肤</a><span>></span></li>
						<li><a href="">彩妆</a><span>></span></li>
						<li><a href="">精彩促销</a><span>></span></li>
						<li><a href="">素颜美家族</a><span>></span></li>
						<li><a href="">个人中心</a><span>></span></li>
						<li><a href="">其他</a><span>></span></li>
					</ul>
					<div class="col-12 px-0 footerwm">
						<div class="ft-img float-left">
							<div>
								<img src="images/ico-wb.png" alt="">
							</div>
							<div class="weixin">
								<img src="images/ico-wx.png" alt="">
								<div class="weibo-erwm"><img src="images/erwm.jpeg" alt=""></div>
							</div>
							<div class="weiBos">
								<img src="images/ico-fx.png" alt="">
								<div class="weibo-box">
									<div class="ico-wb-left">
										<p class="text my-0">点击分享到微博</p>
										<img src="images/bigweibo.png" alt="">
									</div>
									<div class="erwm-right">
										<p class="text my-0">微信扫一扫分享</p>
										<img src="images/erwm.jpeg" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
					<ul class="col-12 icoinfom">
						<li>© 资生堂丽源化妆品有限公司版权所有</li>
						<li>京ICP备11014491号</li>
						<li>京公网安备110301000520</li>
						<li>品牌热线：</li>
						<li>800-810-2559（固定电话）</li>
						<li>400-678-2559（手机用户）</li>
						<li class="pt-1">服务时间为:</li>
						<li>周一至周五9:00-16:30，国家法定节假日除外</li>
					</ul>
				</div>
			</div>
		</footer>
	
	<script src="javascripts/bootstrap/jquery-3.4.1.min.js"></script>
	<script src="./javascripts/bootstrap/popper.min.js"></script>
	<script src="./javascripts/bootstrap/bootstrap.min.js"></script>
	<script src="./javascripts/index.js"></script>
</body>
</html>